*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1638547674-GettyImages-1206801125.jpg?crop=16:9);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Nabar */
.nav {
    overflow: hidden;
    background-color: rgba(58, 58, 96, 0.401);
  }
  
  .nav a {
    float: right;
    padding: 14px;

  }
  
  .nav_btn{
    padding: 5px 10px 5px 10px;
    margin: 0 1rem 0 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(178, 233, 195);
  }
  .nav .nav_btn:hover {
    background-color: #ddd;
    color: black;
    
  }
  

/* Home */
.heading_1{
    color: white;
    font-size: 60px;
    margin: 5rem 0 1rem 10rem;
    padding-top: 3rem;
    text-shadow: 2px 2px 40px rgb(255, 255, 255);
}

.heading_2{
    color: white;
    font-size: 40px;
    margin: 0 0 7rem 10rem;
    text-shadow: 2px 2px 40px rgb(255, 255, 255);
   
}

.a{
    margin: 0 0 0 15rem;
}

.block{
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(249, 147, 64);

}

/* location & device */
.locationMain{
    margin: 5rem 0 1rem 10rem;
    padding: 3rem 0 0 0;
}

.location_H{
    color: white;
    padding-bottom: 0.5rem;
}

input{
    font-size: 25px;
    margin: 1rem 0 1rem 0;
    padding: 7px 10px 7px 10px;
    border: 2px solid black;
    border-radius: 12px;
    width: 25rem;
}

.location_btn{
    margin: 3rem 2rem 0 1.8rem;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Segoe UI';
    padding: 8px 10px 8px 10px;
    border: 2px solid black;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 153, 69);
}

/* device */
.deviceMain{
    margin: 0 0 1rem 10rem;
    padding: 3rem 0 0 0;
}

.device_H{
    color: rgb(255, 5, 5);
    font-size: 35px;
    text-shadow: 2px 2px 40px rgb(255, 4, 4);
}

.device_p{
    color: white;
    font-size: 22px;
    margin: 0.5rem 0 2rem 2rem;
    text-shadow: 2px 2px 30px rgb(255, 255, 255);
}

.device_btn{
    font-size: 20px;
    padding: 8px 10px 8px 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
    background-color: antiquewhite;
}

.DeviceForm{
    display: flex;
    margin: 10px;
}

.deletedevice button{
    margin-left: 2rem;
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;
}

.deletedevice button:hover{
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(234, 151, 16);
    border-radius: 10px;
}

.Add_device button{
    margin-left: 2rem;
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(0, 255, 34);
    color: #000000;
}

.Add_device button:hover{
    
    
    border: 1px solid rgb(233, 196, 28);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

/* showDetails */
.show_h1{
    color: white;
    font-size: 40px;
    margin: 0.5rem 0 2rem 2rem;
    text-shadow: 2px 2px 30px rgb(255, 255, 255);
}

.show_btn{
    font-size: 25px;
    padding: 8px 20px 8px 20px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
    background-color: rgb(255, 153, 69);

}

/* AllShow */
.form{
    float: left;
    color: white;
    margin: 0 0rem 0 0;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    border: 1px solid rgb(255, 186, 66);
    border-radius: 12px;
}

.detailForm{
    margin: 5px;
}

/* SingleShowLogin */
.SingleShowLogin_H{
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 4rem;
    text-shadow: 2px 2px 30px rgb(255, 255, 255);
    font-size: 40px;
}


@media only screen and (max-width: 992px) {
    /* Home */
    .heading_1{
        margin: 3rem 0 1rem 5rem;  
    }

    .heading_2{
        margin: 0 0 7rem 5rem;
    }

    .a{
        margin: 0 0 0 8rem;
    }

    /* location & device */
    .locationMain{
        margin: 3rem 0 1rem 5rem;
    }

    /* device */
    .deviceMain{
        margin: 0 0 1rem 5rem;
    }
}

@media only screen and (max-width: 768px) {
        
    /* Home */
    .heading_1{
        margin: 3rem 0 1rem 5rem;
        font-size: 50px;
    }

    .heading_2{
        margin: 0 0 7rem 5rem; 
        font-size: 30px;
    }

    .a{
        margin: 0 0 0 5rem;
    }

    .block{
        font-size: 20px;
        padding: 8px 12px 8px 12px;
    }

    .locationMain{
        margin: 2rem 0 1rem 4rem;
    }

    /* showDetails */
    .show_h1{
        font-size: 30px;
    }
    
    .show_btn{
        font-size: 20px;   
    }

    /* SingleShowLogin */
    .SingleShowLogin_H{
        margin-right: 1rem;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    /* Home */
    .heading_1{
        font-size: 40px;
        margin: 2rem 0 1rem 3rem;
        padding-top: 1.5rem;
    }

    .heading_2{
        font-size: 22px;
        margin: 0 0 7rem 3rem;
    }

    .a{
        margin: 0 0 0 3rem;
    }

    .block{
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }

    /* location & device */
    .locationMain{
        margin: 1.5rem 0 1rem 2rem;
        padding: 2rem 0 0 0;
    }

    .location_H{
        font-size: 25px;
    }

    input{
        font-size: 15px;
        margin: 1rem 0 1rem 0;
        padding: 5px 8px 5px 8px;
        width: 18rem;
    }

    .location_btn{
        margin: 2rem 1rem 0 1rem;
        font-size: 15px;
        padding: 5px 8px 5px 8px;
    }

    /* device */
    .deviceMain{
        margin: 0 0 1rem 3rem;
        padding: 2rem 0 0 0;
    }

    .device_H{
        font-size: 25px;
    }

    .device_p{
        font-size: 15px;
        margin: 0.5rem 1rem 2rem 2rem;
    }

    .device_btn{
        font-size: 13px;
        padding: 5px 8px 5px 8px;
    }

    .DeviceForm{
        display: flex;
        margin: 10px;
    }

    .deletedevice button{
        margin-left: 1.5rem;
        padding: 3px 5px;
        border-radius: 10px;
    }

    .Add_device button{
        margin-left: 2rem;
        padding: 3px 5px;
        border-radius: 8px;
        font-size: 12px;
    }

    /* showDetails */
    .show_h1{
        font-size: 20px;
        margin: 0.5rem 0.8rem 1rem 0.5rem;
    }

    .show_btn{
        font-size: 15px;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        margin-bottom: 2rem;

    }

    /* AllShow */
    .form{
        padding: 5px 10px 5px 5px;
        font-size: 15px;
    }
    .detailForm{
        margin: 5px;
    }

    /* SingleShowLogin */
    .SingleShowLogin_H{
        padding-top: 2rem;
        font-size: 20px;
    }

}